<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-tmux-workflow</string>
	<key>connections</key>
	<dict>
		<key>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6968EB3D-9209-4754-B995-1511066DE12F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F453C0C-2771-4A8B-8858-2E65B154B6B7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open current Finder's path</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>387AB091-E835-4DCE-8D45-232C83394ED1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Kill tmux session</string>
			</dict>
		</array>
		<key>387AB091-E835-4DCE-8D45-232C83394ED1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B27D690D-76BF-4EB9-A88C-44DD2F95311F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Tmux session management workflow, able to list, create and kill sessions, connect to them and optionally cd to current Finder's path.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tmux</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby handle-session.rb "{query}|"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6968EB3D-9209-4754-B995-1511066DE12F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>tmux</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby feedback.rb "{query}"</string>
				<key>subtext</key>
				<string>Select the TMUX session, create a new one, kill existing one or open in default shell</string>
				<key>title</key>
				<string>Manage Tmux sessions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby handle-session.rb "{query}|1"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F453C0C-2771-4A8B-8858-2E65B154B6B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>killed tmux session "{query}"</string>
				<key>title</key>
				<string>Tmux session killed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B27D690D-76BF-4EB9-A88C-44DD2F95311F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby kill-session.rb "kill|{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>387AB091-E835-4DCE-8D45-232C83394ED1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>0F453C0C-2771-4A8B-8858-2E65B154B6B7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>387AB091-E835-4DCE-8D45-232C83394ED1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6968EB3D-9209-4754-B995-1511066DE12F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B27D690D-76BF-4EB9-A88C-44DD2F95311F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-tmux-workflow</string>
</dict>
</plist>
