<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-open-path-in-tmux-workflow</string>
	<key>connections</key>
	<dict>
		<key>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6968EB3D-9209-4754-B995-1511066DE12F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Open frontmost Finder's path in tmux default session, a new custom session, or plain-old bash or zsh.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Tmux</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/osascript open_tmux_in_path.applescript "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6968EB3D-9209-4754-B995-1511066DE12F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>tmux</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby feedback.rb</string>
				<key>subtext</key>
				<string>Select the TMUX session, create a new one or open in default shell</string>
				<key>title</key>
				<string>Open in TMUX session</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>2630B28E-94D3-4EB1-BBDE-5E8BD2724FAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6968EB3D-9209-4754-B995-1511066DE12F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-open-path-in-tmux-workflow</string>
</dict>
</plist>
